.about-container {
  position: relative;
  height: 100vh;
  background-color: #10002b;
  padding: 40px 100px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: whitesmoke;
}
