@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e1b9ff;
  min-height: 100vh;
}

.app-container {
  padding: 0 !important;
  margin: 0 !important;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}
